{% load i18n %}
<div class="pagination">
    {% if page_obj.has_previous %}
  <li class="page-item"> <a class="page-link" href="?{{ page_obj.previous_page_number.querystring }}" >&lsaquo;&lsaquo; {% trans "Previous" %}</a></li>
    {% else %}
  <li class="page-item disabled"><a class="page-link disabled" href="#">&lsaquo;&lsaquo; {% trans "Previous" %}</a></li>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <!--<span class="current page">{{ page }}</span>-->
                <li class="page-item disabled"><a class="page-link disabled" href="?page={{ page }}">{{ page }}</a></li>
            {% else %}
  <li class="page-item"><a href="?{{ page.querystring }}" class="page-link">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
  <li class="page-item"><a href="?{{ page_obj.next_page_number.querystring }}" class="page-link">{% trans "Next" %} &rsaquo;&rsaquo;</a></li>
    {% else %}
  <li class="page-item disabled"><a class="page-link disabled" href="#">{% trans "Next" %} &rsaquo;&rsaquo;</a></li>
    {% endif %}
</div>




