{% extends "base.html" %}
{% load static %}
{% load activity_tags %}
{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <img class="img-fluid  mx-auto" src="{{ object.profile_image_url }}">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
      <blockquote><i>{{ object.name }}</i></blockquote>
      <p> {{ object.bio }}</p>
      {% endif %}

      <strong>Followers <a href="{% url 'actstream_followers' content_type_id=12 object_id=object.id %}">{{ object.get_followers_count }}</a></strong>
      <strong>Following <a href="{% url 'actstream_following' user_id=object.id %}">{{ object.get_following_count }}</a></strong>

    </div>
  </div>
  <!--Follow users if not own profile-->
{% if object != request.user %}


  {% if request.user|is_following:object %}
  <a class="btn btn-default" href="{% url 'actstream_unfollow' content_type_id=12 object_id=object.id %}?next={% url 'users:detail' object.username|urlencode %}">UnFollow</a>
  {% else %}
  <a class="btn btn-default" href="{% url 'actstream_follow' content_type_id=12 object_id=object.id %}?next={% url 'users:detail' object.username|urlencode %}">Follow</a>
  {% endif %}
<hr>
  <div class="row">
  {% activity_stream 'actor' user %}
<ul>
    {% for action in stream %}
   <li> {% display_action action %}</li>
{% endfor %}
  </ul>
  </div>


{% endif %}

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-10">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
  <hr>

  <div class="row">
    <div class="col-sm-10">
    <div class="card">
  {% for actor in object.get_following_list %}
  {% activity_stream 'actor'  actor %}
{% for action in stream %}
  <ul><li>{% display_action action %}</li></ul>
{% endfor %}
      {% endfor %}
      </div>
      </div>
      </div>
  </div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

