{% extends 'base.html' %}
{% block content%}
<a href="{% url 'blog:create'%}"><span><button class="btn btn-primary">Create post</button></span></a>
{% if request.user.is_authenticated %}
<a href="{% url 'blog:drafts'%}"><span><button class="btn btn-info">Drafts</button></span></a>
{% endif %}
<hr>

{% for post in object_list %}
<div class="card mb-3">
  {% if post.image %}
  <img class="card-img-top" src="http://via.placeholder.com/2000x1000" alt="Card image cap">
  {% endif %}
  <div class="card-body">
   <img class="img-fluid img-rounded mx-auto" src="{{ post.author.profile_image_url }}">
    <h5 class="card-title "><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title|capfirst }}</a></h5>
    <p class="card-text"><small class="text-muted">Created {{ post.created }}</small></p>
{% if post.author == request.user %}
     <div class="input-group mb-3">
    {% if post.publish == False %}

    <form action="{% url 'blog:publish' post.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-info btn-xs " value="Publish">
    </form>
     {% endif %}
      <form action="{% url 'blog:update' post.pk %}" method="get">
    {% csrf_token %}
    <input type="submit" class="btn btn-warning btn-sm " value="Update" />
    </form>

      <form action="{% url 'blog:delete' post.pk %}" method="get">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger btn-sm " value="Delete">
    </form>
</div>
 {% endif %}

    <p><span class="pull-right"><i class="fa fa-1.5x fa-comment-o"></i> {{ post.comments.count }} </span></p>
  </div>
</div>
  {% endfor %}




{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/blog/post?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/blog/post?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock content %}
