{% extends 'base.html' %}
{% block content%}
    <h2>{{ post.title|capfirst }}</h2>
    <p>{{ post.text|capfirst }}</p>

<a href="{% url 'users:detail' post.author.username %}">{{post.author|capfirst}}</a>
<small>{{ post.created }}</small>

    {% if post.author == request.user %}
    <form action="{% url 'blog:delete' post.pk %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Delete" />
    </form>

     <form action="{% url 'blog:update' post.pk %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Update" />
    </form>
    {% endif %}

<hr>

{% for comment in post.comments.all %}
    <div class="comment">
      <a href="{% url 'users:detail' comment.author.username %}">{{comment.author|capfirst}}</a>
      <div class="date pull-right"><small>{{ comment.created }}</small></div>
        <p>{{ comment.text|capfirst|linebreaks }}</p>
    </div>
<hr>
{% endfor %}

<form action="{% url 'blog:comment' pk=post.pk %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <textarea class="form-control" name="text" rows="5" id="comment" id="id_text" aria-describedby="commentHelp" placeholder="Enter comment"></textarea>
  </div>
  <input type="submit" value="Comment" />
</form>

{% endblock content %}
