{% extends 'base.html' %}
{% block content%}

<h1>Posts</h1>
<div class="row">
  <div class="col">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
Markdown Guide
</button>
<br>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% load markdown_deux_tags %}
        {% markdown_cheatsheet %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
  </div>

<br>
<div class="row">
  <div class="col">
<form action="" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="fieldWrapper">
    {{ field.errors }}
    <div class="form-group">
      {% if field.id_for_label == 'id_publish' %}
      {{ field.label }} {{ field }}
      </div>
      {% else %}
      {{ field }} {{ form.media }}
      {% endif %}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Save</button>
</form>
  </div>
</div>


{% endblock content %}
