{% extends 'base.html' %}
{% block content%}
{% for post in object_list %}
<div class="card mb-3">
  <img class="card-img-top" src="http://via.placeholder.com/2000x1000" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title "><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></h5>
    <p class="card-text"><small class="text-muted">Created {{ post.created }}</small></p>
    <p><span class="pull-right"><i class="fa fa-1.5x fa-comment-o"></i> {{ post.comments.count }} </span></p>
  </div>
</div>
  {% endfor %}

<a href="{% url 'blog:create'%}"><span>create post</span></a>
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/blog/post?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/blog/post?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}
