{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>DjangoIRL was founded to be a Small Space on the Internet dedicated to the Django community.
        It is a open platform to discuss topics seek help and learn.</p>
      <p>Everyone is welcome to suggest improvements and create pull requests</p>
      <p>Our Goal is to become a resource of shared Django knowledge and community</p>
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">The Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'images/brian_profile.jpg' %}" alt="">
          <h3>Brian McNabola
            <br>
            <small>Django Enthusiast</small>
          </h3>
          <p>Im a Environments Engineer during the day. And a Django hobbyist by night.</p>
          <p>Founder of DjangoIRL</p>
        </div>
    </div>
    <!-- /.container -->

{% endblock content %}
