{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'images/1.jpg' %})">
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Django IRL</h1>
              <span class="subheading">(Django In Real Life)</span>
              <span class="subheading">A Django Community built on Django</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div row>
  <div class="col">
    <p>This a Open project aimed at building a django community platform on django by django developers.</p>
    <p>How to contribute? Just fork <a href="https://github.com/brianbola90/DjangoIRL">https://github.com/brianbola90/DjangoIRL</a></p>
  </div>
</div>
{% endblock content %}
