{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'images/1.jpg' %})">
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Django IRL</h1>
              <span class="subheading">A Django Community built by Django developers</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div row>
  <div class="col">
    <p>This a Open project aimed at building a django community by building a platform on django by django developers.</p>
    <p>How to contribute? Just fork <a href="https://github.com/brianbola90/DjangoIRL">https://github.com/brianbola90/DjangoIRL</a></p>
    <p>This project started as an attempt to build a devops community but it was too broad of a space no cover.
      One of the key skills a Dev needs is <b>collaboration</b></p> <p>This site allows you to work with fellow devs and build something great.
    All contributions will be added to a contributors page and credit will be given where due.</p>
  </div>

</div>
{% endblock content %}
