{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'images/1.jpg' %})">
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-9 mx-auto">
            <div class="site-heading">
              <h1>Django IRL</h1>
              <span class="subheading">A Django Community built on Django</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div row>
  <div class="col">
    <p>DjangoIRL Stands for <b>DJANGO IN REAL LIFE</b> </p>
    <p>This a open project with the goal of building a django community platform running on django by django developers.
    It is a opportunity for newbie developers to harness skills on a project that is not a throw away or a just a portfolio project.</p>
    <h6>Technology used</h6>
    <ul>
      <li>Python 2.7</li>
      <li>Django 1.11</li>
      <li>Postgresql</li>
      <li>Bootstrap 4</li>
    </ul>
    <p>How to contribute? Just fork <a href="https://github.com/brianbola90/DjangoIRL">https://github.com/brianbola90/DjangoIRL</a></p>
  </div>
</div>
{% endblock content %}
